project_id = "ekevswdntuwroqeactfa"

[functions.generate-video]
verify_jwt = false

[functions.ai-chat]
verify_jwt = false

[functions.create-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true